{% extends 'base.html' %}
  {% block title %} |  {{category.name}} {% endblock %}
{% block body %}

<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					<img src="/static/images/Actor/{{actor_show.actor_image}}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">{{ actor_show.actor_name}}</h1>
					<p class="ceb-single">{{ actor_show.position}}</p>
					<div class="social-link cebsingle-socail">
						<a href="#"><i class="ion-social-facebook"></i></a>
						<a href="#"><i class="ion-social-twitter"></i></a>
						<a href="#"><i class="ion-social-googleplus"></i></a>
						<a href="#"><i class="ion-social-linkedin"></i></a>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overviewceb">Genel Bakış </a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overviewceb" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
											<p> {{ actor_show.biography|safe|truncatewords:50}}</p>
											<ul class="tab-links tabs-mv">

								<p><a href="#biography"> Devamını Oku..</a></p>
							</ul>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Adı ve Soyadı :  </h6>
						            			<p><a href="#">{{ actor_show.actor_name}}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Doğum Tarihi : </h6>
						            			<p>{{ actor_show.dateofbirth}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Ülkesi :  </h6>
						            			<p>{{ actor_show.country}}</p>
						            		</div>

						            	</div>
						            </div>
						        </div>
						        <div id="biography" class="tab">
						           <div class="row">
						            	<div class="rv-hd">
											<div>
												<h3>Biyografisi ;</h3>
						       	 				<h2>{{actor_show.actor_name}}</h2>
											</div>
						            	</div>
									   <p> {{actor_show.biography|safe}} </p>

								   </div>
						        </div>


						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<!-- celebrity single section-->

{% endblock %}