{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Yönetmen-Aktör Listesi</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'index' %}">Anasayfa</a></li>
						<li> <span class="ion-ios-arrow-right"></span> yönetmen-aktör listesi</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- celebrity grid v2 section-->
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">

				<div class="row">
					{% for actors in actor%}
					<div class="col-md-4">
						<div class="ceb-item-style-2">
							<img class="acimg" src=" /static/images/Actor/{{actors.actor_image}}" alt="">
							<div class="ceb-infor">
								<h2><a href="{% url 'actordetail' actors.id %}">{{actors.actor_name}}</a></h2>
								<span>{{actors.dateofbirth}},{{actors.country}}</span>

							</div>
						</div>
					</div>
					{% endfor %}
				</div>


				<div class="topbar-filter">
					<label>Aktör :</label>
					<select>
						<option value="range">20 Gösterim</option>

					</select>
					
					<div class="pagination2">
						<span>Sayfa:</span>
						<a class="active" href="#">1</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
{% endblock %}