{% extends 'base.html' %}
  {% block title %} |  {{category.name}} {% endblock %}
{% block body %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{ category.name }}</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'index' %}">Anasayfa</a></li>
						<li> <span class="ion-ios-arrow-right"></span> <a href="#">{{category.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="flex-wrap-movielist mv-grid-fw">

							{% for i in movie_list %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="/{{i.image.url}}" alt="">
							<div class="hvr-inner">
	            				<a  href="{% url 'MovieShow' i.id %}"> Tıklayınız <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="{% url 'MovieShow' i.id %}">{{i.movie_name}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{i.imdb_reyting}}</span> /10</p>
							</div>
						</div>
					        {% endfor %}

				</div>
				<div class="topbar-filter">
					<label>Film :</label>
					<select>
						<option value="range">20 Film</option>
					</select>

					<div class="pagination2">
						<span>sayfa :</span>
						<a class="active" href="#">1</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}