{% load static %}

<div class="movie-items  full-width">
	{% for speaker in categories %}

	<div class="row">
		<div class="col-md-12">
			<div class="title-hd">
				<h2>{{speaker}}</h2>
				<a href="{% url 'CategorySearch' speaker.id %}" class="viewall">Hepsini Gör <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
			    <div class="tab-content">
			        <div id="tab1-h2" class="tab active">
			            <div class="row">
			            	<div class="slick-multiItem2">

									{% for i in movies %}
								{% for speaker1 in i.category.all %}
									{% if speaker1 == speaker %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
											<a  href="{% url 'MovieShow' i.id %}"> <img src="{{i.image}}" alt=""> </a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'MovieShow' i.id %}"> Tıklayınız <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            			<div class="title-in">
				            				<h6><a href="#">{{i.movie_name}}</a></h6>
				            				<p><i class="ion-android-star"></i><span>{{i.imdb_reyting}}</span> /10</p>
				            			</div>
				            		</div>
			            		</div>
								{% endif %}
								{% endfor %}
									{% endfor %}

			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>

	{% endfor %}
</div>


<!--CATEGORY END-->