{%load static %}
<div class="trailers full-width">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="title-hd">
					<h2>Fragmanlar</h2>
				</div>

				<div class="videos">
				 	<div class="slider-for-2 video-ft">
						{% for movie in movies %}
						{% if movie.Fragment %}
								   <div>
										{{movie.Fragment|safe}}
									</div>
								{% endif %}
					    	{% endfor %}

					</div>
					<div class="slider-nav-2 thumb-ft">
						{% for movie in movies %}
						{% if movie.Fragment %}
								<div class="item">
									<div class="trailer-img">
										<img src="{{movie.image}}"  alt="{{i}}" width="350" height="200">
									</div>
									<div class="trailer-infor">
										<h4 class="desc">{{movie.movie_name}}</h4>
									</div>
								</div>
									{% endif %}
					    	{% endfor %}


					</div>
				</div>
			</div>

			<!--ÖNE ÇIKAN RIGTH BAR END-->
		</div>
	
</div>