{% extends 'base.html' %}
{%load static %}
<!-- END | Header -->
{% block body %}
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>

<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="/{{movie_show.image}}" alt="">
					<div class="movie-btn">
						<div class="btn-transform transform-vertical red">
							<div><a class="item item-1 redbtn" data-toggle="modal" data-target=".bd-example-modal-xl"> <i class="ion-play"></i> Filmi İzle</a></div>
							<div><a class="item item-2 redbtn" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="ion-play"></i></a></div>
						</div>
						{% if movie_show.Fragment %}
						<div class="btn-transform transform-vertical">
							<div><a href="#" data-toggle="modal1" data-target=".bd-example-modal-xl1" class="item item-1 yellowbtn"> <i class="ion-play"></i>Fragman</a></div>
							<div><a href="{{movie_show.Fragment}}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModal1CenterTitle" aria-hidden="true">
  				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    				<div class="modal-content">
       		<iframe src="{{movie_show.url}}" frameborder="0" width="100%" height="50%" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen	></iframe>
					</div>
  				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd"> {{movie_show.movie_name}} <span>{{movie_show.release_date.year}}</span></h1>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{movie_show.imdb_reyting}}</span> /10<br>
							</p>
						</div>
						<div class="rate-star">
							<p>Bu Filmin IMDB Puanı </p>
							{% for i in imbd %}
							<i class="ion-ios-star"></i>
							{% endfor %}
							{% for i in imbd_kalan %}
							<i class="ion-android-star last"></i>
							{% endfor %}


						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Genel Bakış</a></li>
								<li><a href="#reviews"> Yorumlar</a></li>
								<li><a href="#cast"> Oyuncular & Ekip</a></li>
								<li><a href="#moviesrelated"> Benzer Filmler</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{movie_show.movie_content|safe}}</p>

											<div class="title-hd-sm">
												<h4>Oyuncular</h4>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
												{% for aktor in movie_show.actor.all %}

												<div class="cast-it">
													<div class="cast-left">

														<img src="images/uploads/cast1.jpg" alt="">
														<a href="{% url 'actordetail' aktor.id %}">{{aktor}}
														</a>
													</div>

												</div>

													 {% endfor %}
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">

						            		<div class="sb-it">
						            			<h6>Film Ekibi </h6>
												{% for aktor in movie_show.actor.all %}
						            			<p><a href="{% url 'actordetail' aktor.id %}"> {{aktor}} </a></p>
												{% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Kategori :</h6>
												{% for speaker in movie_show.category.all %}
						            			<p><a href="{% url 'CategorySearch' speaker.id %}">{{speaker}}</a></p>
												{% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Çıkış Yılı:</h6>
						            			<p>{{movie_show.release_date}} </p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Film Süresi:</h6>
						            			<p> {{movie_show.runtime}}</p>
						            		</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Filmle ilgili Yorumlar</h3>
						       	 				<h2>{{movie_show.movie_name}}</h2>
							            	</div>
						            	</div>
										{% for comment in comments %}
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img style="width:10%" src="/static/images/user.png" alt="">
												<div>
													<h3>{{comment.name}}</h3>

													<p class="time">
														{{comment.publishing_date}} <a href="#"> {{comment.name}} {{comment.surname}}</a>
													</p>
												</div>
											</div>
											<p>{{comment.comment}}</p>
										</div>
									   {% endfor %}
									   <div class="cm-form">
											<h4>Yorum Yap</h4>
										<form action={% url 'CommentAdd' movie_show.id %}  method="POST">{% csrf_token %}
										   <div class="row">
											<div class="col-md-4">
											<input type="text"  name="name" placeholder="Adınız">
										</div>
										<div class="col-md-4">
											<input type="text" name="surname" placeholder="Soyadınız ">
										</div>
										<div class="col-md-4">
											<input type="text"  name="mail" placeholder="e-mail">
										</div>
									</div>
							<div class="row">
								<div class="col-md-12">
									<textarea name="message" id="" placeholder="Yorumunuzu yazın.."></textarea>
								</div>
							</div>
							<input class="submit" type="submit" placeholder="submit">
						</form>
					</div>
					<!-- comment form -->
										<div class="topbar-filter">
											<label>Film:</label>
											<select>
												<option value="range">20 Film</option>
											</select>
											<div class="pagination2">
												<span>Sayfa:</span>
												<a class="active" href="#">1</a>
											</div>
										</div>

						            </div>

						        </div>

						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Oyuncular ve Ekip</h3>
					       	 			<h2>{{movie_show.movie_name}}</h2>

										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Tüm Ekip </h4>
										</div>
										<div class="mvcast-item">
											{% for aktor in movie_show.actor.all %}

											<div class="cast-it">
												<div class="cast-left">
													<img src="/{{aktor.actor_image}}" alt="">
													<a href="{% url 'actordetail' aktor.id %}">{{aktor}}</a>
												</div>
												<p> {{ position }}</p>
											</div>
											{% endfor %}
						            </div>
					       	 	</div>
								</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Benzer Filmler </h3>
					       	 			<h2>{{movie_show.movie_name}}</h2>

										{% for m in movie_top3 %}
											{% if forloop.counter <= 3 %}
										<div class="movie-item-style-2">
											<img src="/{{m.image}}" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">{{m.movie_name}}<span>{{m.release_date}}</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>{{m.imdb_reyting}}</span></p>
												<p class="describe">{{m.movie_content|safe}}</p>
											</div>
										</div>
										{% endif %}
										{% endfor %}
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}