{% load static %}
<div class="slider sliderv2">
	<div class="container">
		<div class="row">
	    	<div class="slider-single-item">
				{% for i in movies %}
				{% if i.actor.count == 1 %}
				{%else%}
				{% if forloop.counter <= 10 %}

	    		<div class="movie-item">
	    			<div class="row">
	    				<div class="col-md-8 col-sm-12 col-xs-12">
	    					<div class="title-in">
			    				<div class="cate">
									{% for speaker in i.category.all %}
			    						<span class="orange"><a href="{% url 'CategorySearch' speaker.id %}">{{speaker}}</a></span>
									{% endfor %}
			    				</div>
			    				<h1><a href="{% url 'MovieShow' i.id %}">{{i.movie_name}}
									<span>{{i.release_date.year}} </span></a></h1>

			    				<div class="mv-details">
			    					<p><i class="ion-android-star"></i><span>{{i.imdb_reyting}}</span> /10</p>
			    					<ul class="mv-infor">
			    						<li>  Film Süresi : {{i.runtime}} </li>
			    						<li>  IMDB: {{i.imdb_reyting}}  </li>
			    						<li>  Çıkış Tarihi : {{i.release_date}} </li>
			    					</ul>
			    				</div>
			    				<div class="btn-transform transform-vertical">
									<div><a href="{% url 'MovieShow' i.id %}" class="item item-1 redbtn">Tıklayınız</a></div>
									<div><a href= "{% url 'MovieShow' i.id %}" class="item item-2 redbtn hvrbtn">Tıklayınız</a></div>
								</div>
			    			</div>
	    				</div>
	    				<div class="col-md-4 col-sm-12 col-xs-12">
		    				<div class="mv-img-2">
			    				<a href="{% url 'MovieShow' i.id %}"><img class="rmz" src="{{i.image}}" alt=""></a>
			    			</div>
		    			</div>
	    			</div>
	    		</div>
				    {% endif %}
								{% endif %}
				{% endfor %}
	    	</div>
	    </div>
	</div>
</div>